<div class="nav flex-column nav-pills" role="tablist">
  <a class="nav-link active" data-toggle="pill" href="#account" role="tab">Account</a>
  <a class="nav-link" data-toggle="pill" href="#password" role="tab">Password</a>
  <a class="nav-link" data-toggle="pill" href="#" role="tab">Privacy and safety</a>
  <a class="nav-link" data-toggle="pill" href="#" role="tab">Email notifications</a>
  <a class="nav-link" data-toggle="pill" href="#" role="tab">Web notifications</a>
  <a class="nav-link" data-toggle="pill" href="#" role="tab">Widgets</a>
  <a class="nav-link" data-toggle="pill" href="#" role="tab">Your data</a>
  <a class="nav-link" data-toggle="pill" href="#" role="tab">Delete account</a>
</div>