<div class="row h-100 justify-content-center">
  <div class="col-sm-8">
    <div class="card mb-3 box-shadow animated slideInDown">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">New Thread</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
					<%= render 'forum_threads/shared/form' %>
				</ul>
      </div>
    </div>
  </div>
</div>

